@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", sans-serif !important;
}

.my-masonry-grid {
  display: flex;
  margin-left: -8px; /* Adjust as needed */
  width: auto;
}

.my-masonry-grid_column {
  padding: 8px; /* Adjust as needed */
}
